.m-card {
  padding: 1.4rem;
  display: flex;
  border-radius: 7px;
  border-top: 0.5px solid transparent;
  transition: all 0.17s ease-in;

  .info {
    // flex-grow: 1;
    flex-basis: fit-content;
    h3 {
      line-height: 2.8rem;
      color: $headline-color;
      margin: 0;
      margin-bottom: 0.2rem;
      transition: all 0.17s ease-in;
      display: flex;
      .card-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.7rem;
        svg {
          display: inline-block;
          transition: all 0.17s ease-in;
          font-size: 1.3rem;
        }
      }
    }
    p {
      font-family: 'Roboto Mono';
      margin: 0;
      margin-bottom: 1rem;
    }
  }
  .year {
    line-height: 2.8rem;
    // padding: 1rem 2rem;
    flex-basis: 10rem;
  }
  .tag {
    background-color: $tag-bg-color;
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
    color: $tag-font-color;
    font-style: bold;
  }
  a {
    cursor: pointer;
  }

  .tag-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

.card-list > li:hover .m-card {
  background-color: rgba($color: #27495a, $alpha: 0.1);
  border-top: 0.5px solid rgba($color: #929292, $alpha: 0.2);
}
.card-list > li:hover h3 {
  color: $tag-font-color;
}
.card-list > li:hover .card-icon > svg {
  transform: scale(1.3);
}

ul {
  li {
    transition: all 0.17s ease-in;
  }
}

.card-list:hover > li:not(:hover) {
  opacity: 0.55;
}
