.certificate-container {
  padding: 0 1.4rem;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 5rem;
  figure {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    margin-bottom: 0.5rem;
    &:hover + figcaption {
      color: $tag-font-color;
    }
  }
  figcaption {
    text-align: center;
    padding: 0.5rem;
    transition: all 0.2s;
    &:hover {
      color: $tag-font-color;
    }
    .certificate-icon svg {
      display: inline-block;
      font-size: 2rem;
      margin: 0.4rem;
    }
    .certificate-title {
      font-family: Rokkitt;
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  }
}
