.app {
  height: 100vh;
  /* padding: 1.4rem; */
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
}


@media (max-width: 800px) {
  .app {
    display: flex;
    flex-direction: column;
  }
  
}